@charset "ISO-8859-1";
body{
    background-size: cover;
    background-position:fixed;
    font-size:xx-large;
    align-items: center;
    vertical-align: middle;
    padding-top: 200px;
}
form{
    text-align: center;
}
.center{
    margin: auto;
    width: 60%;
    border: 3px solid #fff703;
    padding: 10px;
}